html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
#wrapper {
	background: #eee;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
#blocklyDiv {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 85%;
}
button {
	position: absolute;
	top: 0;
	right: 0;
}